In [114]:
# importing the libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [115]:
# loading the dataset
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [116]:
df.shape

(891, 12)

In [117]:
df['Age'].fillna(df['Age'].mean(),inplace=True)

In [118]:
#extracting the dependent and independent variables
x = df.drop(['PassengerId','Survived','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns')
y = df['Survived'].values

In [119]:
#Encoding categorincal variable
sex_dummies = pd.get_dummies(df.Sex)

In [120]:
sex_dummies

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[891 rows x 2 columns]

In [121]:
#concatenating the encoded columns
x = pd.concat([x,sex_dummies],axis='columns')

In [122]:
x

     Pclass     Sex        Age     Fare  female  male
0         3    male  22.000000   7.2500       0     1
1         1  female  38.000000  71.2833       1     0
2         3  female  26.000000   7.9250       1     0
3         1  female  35.000000  53.1000       1     0
4         3    male  35.000000   8.0500       0     1
..      ...     ...        ...      ...     ...   ...
886       2    male  27.000000  13.0000       0     1
887       1  female  19.000000  30.0000       1     0
888       3  female  29.699118  23.4500       1     0
889       1    male  26.000000  30.0000       0     1
890       3    male  32.000000   7.7500       0     1

[891 rows x 6 columns]

In [123]:
#dropping uncessary features
x.drop(['Sex'],axis='columns',inplace=True)
x.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [124]:
# Splitting the dataset into training and test set.  
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.3, random_state=0)

In [125]:
#feature Scaling  
from sklearn.preprocessing import StandardScaler    
st_x= StandardScaler()    
x_train= st_x.fit_transform(x_train)    
x_test= st_x.transform(x_test)

In [126]:
#Fitting Decision Tree classifier to the training set  
from sklearn.tree import DecisionTreeClassifier  
classifier = DecisionTreeClassifier(criterion='entropy', random_state=0)  
classifier.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [127]:
#Predicting the test set result  
y_pred= classifier.predict(x_test)

In [128]:
classifier.score(x_test,y_test)

0.7985074626865671

In [129]:
#Text Representation
from sklearn import tree
text_representation = tree.export_text(classifier)
print(text_representation)

|--- feature_4 <= -0.33
|   |--- feature_0 <= 0.25
|   |   |--- feature_1 <= -2.10
|   |   |   |--- class: 0
|   |   |--- feature_1 >  -2.10
|   |   |   |--- feature_2 <= -0.07
|   |   |   |   |--- feature_1 <= 0.55
|   |   |   |   |   |--- feature_1 <= -0.18
|   |   |   |   |   |   |--- feature_1 <= -0.49
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- feature_1 >  -0.49
|   |   |   |   |   |   |   |--- feature_2 <= -0.43
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- feature_2 >  -0.43
|   |   |   |   |   |   |   |   |--- feature_2 <= -0.18
|   |   |   |   |   |   |   |   |   |--- feature_2 <= -0.26
|   |   |   |   |   |   |   |   |   |   |--- feature_2 <= -0.39
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- feature_2 >  -0.39
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- feature_2 >  -0.26
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- feature_2 >  -0.18
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- feature_1 >  -0.18
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- feature_1 >  0.55
|   |   |   |   |   |--- feature_1 <= 0.70
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- feature_1 >  0.70
|   |   |   |   |   |   |--- feature_2 <= -0.09
|   |   |   |   |   |   |   |--- feature_0 <= -0.94
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- feature_0 >  -0.94
|   |   |   |   |   |   |   |   |--- feature_1 <= 2.01
|   |   |   |   |   |   |   |   |   |--- feature_2 <= -0.17
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- feature_2 >  -0.17
|   |   |   |   |   |   |   |   |   |   |--- feature_1 <= 1.32
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- feature_1 >  1.32
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- feature_1 >  2.01
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- feature_2 >  -0.09
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |--- feature_2 >  -0.07
|   |   |   |   |--- feature_2 <= 2.42
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- feature_2 >  2.42
|   |   |   |   |   |--- feature_2 <= 2.49
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- feature_2 >  2.49
|   |   |   |   |   |   |--- class: 1
|   |--- feature_0 >  0.25
|   |   |--- feature_2 <= -0.19
|   |   |   |--- feature_1 <= 0.66
|   |   |   |   |--- feature_2 <= -0.23
|   |   |   |   |   |--- feature_2 <= -0.24
|   |   |   |   |   |   |--- feature_2 <= -0.29
|   |   |   |   |   |   |   |--- feature_2 <= -0.51
|   |   |   |   |   |   |   |   |--- feature_1 <= 0.02
|   |   |   |   |   |   |   |   |   |--- feature_2 <= -0.51
|   |   |   |   |   |   |   |   |   |   |--- feature_2 <= -0.51
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 4
|   |   |   |   |   |   |   |   |   |   |--- feature_2 >  -0.51
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3
|   |   |   |   |   |   |   |   |   |--- feature_2 >  -0.51
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- feature_1 >  0.02
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- feature_2 >  -0.51
|   |   |   |   |   |   |   |   |--- feature_2 <= -0.49
|   |   |   |   |   |   |   |   |   |--- feature_1 <= -0.95
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- feature_1 >  -0.95
|   |   |   |   |   |   |   |   |   |   |--- feature_1 <= -0.30
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- feature_1 >  -0.30
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |--- feature_2 >  -0.49
|   |   |   |   |   |   |   |   |   |--- feature_2 <= -0.46
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- feature_2 >  -0.46
|   |   |   |   |   |   |   |   |   |   |--- feature_2 <= -0.36
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 5
|   |   |   |   |   |   |   |   |   |   |--- feature_2 >  -0.36
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 6
|   |   |   |   |   |   |--- feature_2 >  -0.29
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- feature_2 >  -0.24
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- feature_2 >  -0.23
|   |   |   |   |   |--- class: 1
|   |   |   |--- feature_1 >  0.66
|   |   |   |   |--- class: 0
|   |   |--- feature_2 >  -0.19
|   |   |   |--- feature_2 <= 0.01
|   |   |   |   |--- feature_2 <= -0.02
|   |   |   |   |   |--- feature_2 <= -0.16
|   |   |   |   |   |   |--- feature_2 <= -0.18
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- feature_2 >  -0.18
|   |   |   |   |   |   |   |--- feature_1 <= -0.77
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- feature_1 >  -0.77
|   |   |   |   |   |   |   |   |--- feature_1 <= -0.00
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- feature_1 >  -0.00
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- feature_2 >  -0.16
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- feature_2 >  -0.02
|   |   |   |   |   |--- class: 1
|   |   |   |--- feature_2 >  0.01
|   |   |   |   |--- class: 0
|--- feature_4 >  -0.33
|   |--- feature_1 <= -1.22
|   |   |--- feature_0 <= 0.25
|   |   |   |--- class: 1
|   |   |--- feature_0 >  0.25
|   |   |   |--- feature_2 <= -0.24
|   |   |   |   |--- feature_1 <= -1.53
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- feature_1 >  -1.53
|   |   |   |   |   |--- feature_1 <= -1.41
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- feature_1 >  -1.41
|   |   |   |   |   |   |--- class: 1
|   |   |   |--- feature_2 >  -0.24
|   |   |   |   |--- class: 0
|   |--- feature_1 >  -1.22
|   |   |--- feature_0 <= -0.94
|   |   |   |--- feature_1 <= 1.78
|   |   |   |   |--- feature_2 <= -0.13
|   |   |   |   |   |--- class: 0
|   |   |   |   |--- feature_2 >  -0.13
|   |   |   |   |   |--- feature_2 <= -0.11
|   |   |   |   |   |   |--- feature_2 <= -0.12
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- feature_2 >  -0.12
|   |   |   |   |   |   |   |--- feature_1 <= 1.28
|   |   |   |   |   |   |   |   |--- feature_1 <= -0.08
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- feature_1 >  -0.08
|   |   |   |   |   |   |   |   |   |--- feature_1 <= 0.19
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- feature_1 >  0.19
|   |   |   |   |   |   |   |   |   |   |--- feature_1 <= 0.78
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |   |--- feature_1 >  0.78
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- feature_1 >  1.28
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- feature_2 >  -0.11
|   |   |   |   |   |   |--- feature_2 <= 7.21
|   |   |   |   |   |   |   |--- feature_2 <= 2.12
|   |   |   |   |   |   |   |   |--- feature_2 <= 1.58
|   |   |   |   |   |   |   |   |   |--- feature_1 <= -0.11
|   |   |   |   |   |   |   |   |   |   |--- feature_1 <= -0.41
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- feature_1 >  -0.41
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3
|   |   |   |   |   |   |   |   |   |--- feature_1 >  -0.11
|   |   |   |   |   |   |   |   |   |   |--- feature_1 <= 0.05
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- feature_1 >  0.05
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 9
|   |   |   |   |   |   |   |   |--- feature_2 >  1.58
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- feature_2 >  2.12
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- feature_2 >  7.21
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |--- feature_1 >  1.78
|   |   |   |   |--- feature_1 <= 3.51
|   |   |   |   |   |--- class: 0
|   |   |   |   |--- feature_1 >  3.51
|   |   |   |   |   |--- class: 1
|   |   |--- feature_0 >  -0.94
|   |   |   |--- feature_1 <= 0.20
|   |   |   |   |--- feature_1 <= 0.07
|   |   |   |   |   |--- feature_1 <= -0.34
|   |   |   |   |   |   |--- feature_2 <= -0.34
|   |   |   |   |   |   |   |--- feature_2 <= -0.35
|   |   |   |   |   |   |   |   |--- feature_2 <= -0.45
|   |   |   |   |   |   |   |   |   |--- feature_2 <= -0.53
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- feature_2 >  -0.53
|   |   |   |   |   |   |   |   |   |   |--- feature_2 <= -0.52
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |   |--- feature_2 >  -0.52
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 9
|   |   |   |   |   |   |   |   |--- feature_2 >  -0.45
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- feature_2 >  -0.35
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- feature_2 >  -0.34
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- feature_1 >  -0.34
|   |   |   |   |   |   |--- feature_2 <= -0.51
|   |   |   |   |   |   |   |--- feature_1 <= -0.04
|   |   |   |   |   |   |   |   |--- feature_2 <= -0.51
|   |   |   |   |   |   |   |   |   |--- feature_1 <= -0.18
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- feature_1 >  -0.18
|   |   |   |   |   |   |   |   |   |   |--- feature_1 <= -0.09
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- feature_1 >  -0.09
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- feature_2 >  -0.51
|   |   |   |   |   |   |   |   |   |--- feature_1 <= -0.11
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- feature_1 >  -0.11
|   |   |   |   |   |   |   |   |   |   |--- feature_2 <= -0.51
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- feature_2 >  -0.51
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |--- feature_1 >  -0.04
|   |   |   |   |   |   |   |   |--- feature_2 <= -0.51
|   |   |   |   |   |   |   |   |   |--- feature_2 <= -0.52
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- feature_2 >  -0.52
|   |   |   |   |   |   |   |   |   |   |--- feature_2 <= -0.51
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3
|   |   |   |   |   |   |   |   |   |   |--- feature_2 >  -0.51
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- feature_2 >  -0.51
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- feature_2 >  -0.51
|   |   |   |   |   |   |   |--- feature_2 <= -0.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- feature_2 >  -0.50
|   |   |   |   |   |   |   |   |--- feature_2 <= 0.63
|   |   |   |   |   |   |   |   |   |--- feature_2 <= 0.20
|   |   |   |   |   |   |   |   |   |   |--- feature_2 <= -0.27
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 13
|   |   |   |   |   |   |   |   |   |   |--- feature_2 >  -0.27
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- feature_2 >  0.20
|   |   |   |   |   |   |   |   |   |   |--- feature_1 <= -0.22
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |   |--- feature_1 >  -0.22
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |--- feature_2 >  0.63
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- feature_1 >  0.07
|   |   |   |   |   |--- feature_2 <= -0.51
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- feature_2 >  -0.51
|   |   |   |   |   |   |--- feature_2 <= 0.67
|   |   |   |   |   |   |   |--- feature_2 <= -0.48
|   |   |   |   |   |   |   |   |--- feature_2 <= -0.51
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- feature_2 >  -0.51
|   |   |   |   |   |   |   |   |   |--- feature_2 <= -0.51
|   |   |   |   |   |   |   |   |   |   |--- feature_1 <= 0.13
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |   |--- feature_1 >  0.13
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- feature_2 >  -0.51
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- feature_2 >  -0.48
|   |   |   |   |   |   |   |   |--- feature_2 <= -0.43
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- feature_2 >  -0.43
|   |   |   |   |   |   |   |   |   |--- feature_2 <= -0.37
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- feature_2 >  -0.37
|   |   |   |   |   |   |   |   |   |   |--- feature_1 <= 0.13
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- feature_1 >  0.13
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |--- feature_2 >  0.67
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |--- feature_1 >  0.20
|   |   |   |   |--- feature_2 <= -0.40
|   |   |   |   |   |--- feature_2 <= -0.51
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- feature_2 >  -0.51
|   |   |   |   |   |   |--- feature_2 <= -0.51
|   |   |   |   |   |   |   |--- feature_1 <= 0.62
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- feature_1 >  0.62
|   |   |   |   |   |   |   |   |--- feature_1 <= 0.89
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- feature_1 >  0.89
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- feature_2 >  -0.51
|   |   |   |   |   |   |   |--- feature_2 <= -0.40
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- feature_2 >  -0.40
|   |   |   |   |   |   |   |   |--- feature_1 <= 1.16
|   |   |   |   |   |   |   |   |   |--- feature_1 <= 0.82
|   |   |   |   |   |   |   |   |   |   |--- feature_1 <= 0.39
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- feature_1 >  0.39
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- feature_1 >  0.82
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- feature_1 >  1.16
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- feature_2 >  -0.40
|   |   |   |   |   |--- class: 0